.nwr-layout-matrix {
  // 変数
  --nwr-layout-templateX: none;
  --nwr-layout-templateY: none;
  --nwr-layout-spacingX: 0px;
  --nwr-layout-spacingY: 0px;
  --nwr-layout-childSizeX: auto;
  --nwr-layout-childSizeY: auto;

  // matrix用のスタイル
  display: grid;

  &.nwr-layout-spacingX {
    // 横方向の間隔
    column-gap: var(--nwr-layout-spacingX);
  }

  &.nwr-layout-spacingY {
    // 縦方向の間隔
    row-gap: var(--nwr-layout-spacingY);
  }

  // 横並び
  &.nwr-layout-direction-x {
    grid-auto-flow: row;
    grid-template-columns: var(--nwr-layout-templateX);
    grid-template-rows: var(--nwr-layout-templateY);
  }

  // 縦並び
  &.nwr-layout-direction-y {
    grid-auto-flow: column;
    grid-template-columns: var(--nwr-layout-templateX);
    grid-template-rows: var(--nwr-layout-templateY);
  }

  // 子要素のサイズ
  &.nwr-layout-childSizeX > * {
    width: var(--nwr-layout-childSizeX);
  }
  &.nwr-layout-childSizeY > * {
    height: var(--nwr-layout-childSizeY);
  }
}
